<%- include('partials/header.ejs') %>
<%- include('partials/homenavbar.ejs') %>
<div class="container">
    <hr>
    <h2>Marcas</h2>
    <hr>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Slug</th>
            </tr>
        </thead>
        <tbody>
            <% marcas.forEach(marcas => { %>
            <tr>
                    <th><%= marcas.id %></th>
                    <th><%= marcas.name %></th>
                    <th><%= marcas.slug %></th>
                    <input type="hidden" name="id" value="<%= marcas.id %>">
            </tr>
              <%  })%>
        </tbody>
    </table>
</div>

<%- include('partials/footer.ejs') %> 