<%- include('../../partials/header.ejs') %>
<%- include('../../partials/navbar.ejs') %>
<div class="container">
    <hr>
    <h2>Marcas</h2>
    <a class="btn btn-success" href="/admin/marcas/new">Criar nova Marca</a>
    <hr>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Slug</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <% marcas.forEach(marcas => { %>
            <tr>
                    <th><%= marcas.id %></th>
                    <th><%= marcas.name %></th>
                    <th><%= marcas.slug %></th>
                    <th>
                        <button class="btn btn-warning">Editar</button>

                        <form method="POST" action="/marcas/delete" style="display: inline" onsubmit="confirmarDelecao(event, this)">
                            <!-- botão que dinamicamente envia o id pra rota delete -->
                            <input type="hidden" name="id" value="<%= marcas.id %>">
                            <button class="btn btn-danger">Deletar</button>
                        </form>
                    </th>
            </tr>
              <%  })%>
        </tbody>
    </table>
</div>

<%- include('../../partials/footer.ejs') %> 

<script>
    function confirmarDelecao(event, form){
        event.preventDefault();
        var decision = confirm("Você quer deletar esta Marca?");
        if(decision){
            form.submit();
        }
    }
</script>